* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --bg-colour : rgb(26, 24, 24);
    --nav-bg-colour: rgba(73, 72, 72, 0.705);
}

body {
    background-color: var(--bg-colour);
}


nav {
    border: 1px solid black;
    background-color: var(--nav-bg-colour);
    max-height: 58%;
}

.flex {
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    border:  1px solid black;
}

.nav-col * {
    padding: .6em;
    /* color: blue; */
    text-decoration: none;
}

.nav-col *:not(p) {
    color: rgba(14, 240, 240, 0.774)/*rgba(17, 17, 245, 0.904)*/;
    /* font-size: 1rem; */
    font-weight: 900;
}

.nav-col {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--bg-colour);
}

a:hover {
    color: blue;
}