* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family:'Times New Roman', Times, serif;
}

:root {
    --bg-colour : rgba(213, 231, 224, 0.075);
    --nav-bg-colour: rgba(73, 72, 72, 0.705);
}

body {
    background-color: var(--bg-colour);
}

.flex {
    max-height: 100vh;
    display: flex;
    gap: 5rem;
    /* flex-direction: column; */
    /* border:  1px solid black; */
}

nav {
    border: 1px solid black;
    background-color: var(--nav-bg-colour);
    height: 60vh;
    display: flex;
    flex-direction: column;
    border-bottom: none;
    /* flex-wrap: wrap; */
}

/* nav > div {
    flex: 1;
} */


.nav-col * {
    padding: .6em;
    /* color: blue; */
    text-decoration: none;
}

.nav-col *:not(p) {
    color: rgb(7, 235, 235)/*rgba(17, 17, 245, 0.904)*/;
    /* font-size: 1rem; */
    font-weight: 900;
}

.nav-col {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--bg-colour);
}

a:hover {
    color: rgba(241, 1, 1, 0.815);
    background-color: black;
}

/* .table-style {
    margin: 4rem;
} */

table * {
    padding: 2rem;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-class {
    width: 40%;
    background-color: rgb(236, 233, 228);
    border-radius: .5rem;
    /* display: flex; */
}

.form-class * {
    padding: .7rem;
}
/* .div-input {
    width: 100vw;
} */